* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

p {
	color: #a5a7aa;
}

h1,
h2 {
	color: #66686a;
}

/* Navigation */

.navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	background-color: #000814;
	box-shadow: 2px 2px 10px #66686a;
	color: white;
}

.logo img {
	width: 150px;
	margin-left: 20px;
	margin-top: 5px;
}

.pages {
	height: 100%;
}

.pages ul {
	display: flex;
	margin: 0;
	padding: 0;
}

.pages li {
	list-style: none;
}

.pages li a {
	display: block;
	text-decoration: none;
	color: #b6a208;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.pages li a:hover {
	background-color: #887949;
	border-radius: 5px;
	color: #fff;
}

.toggle-button {
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 40px;
	height: 30px;
}

.toggle-button .bar {
	height: 5px;
	width: 100%;
	background-color: #b6a208;
	border-radius: 10px;
}

#active-link {
	background-color: #887949;
	border-radius: 5px;
	color: #fff;
}

/* Welcome section */

.welcome-section {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 100px auto 100px auto;
}

.welcome-section h1 {
	font-size: 40px;
}

.welcome-section p {
	line-height: 2em;
}

.welcome-section img {
	width: 27%;
	height: 27%;
	align-self: center;
}

.about {
	width: 60%;
	text-align: center;
	align-self: center;
}

/* Section fashion */

.fashion {
	width: 70%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 2fr 1fr;
	margin: 100px auto 50px auto;
	box-shadow: 1px 1px 10px #66686a;
	padding: 20px;
}

.fashion img {
	width: 100%;
	height: 100%;
	padding: 10px;
	object-fit: cover;
}

.ph2-fashion {
	grid-column: -3 / -1;
}

.content-fashion {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 10px;
}

.content-fashion p {
	line-height: 2em;
}

/* Experimental section */

.experimental-photos {
	width: 50%;
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: column;
}

.experimental-photos .content-experimental {
	width: 90%;
	align-self: flex-end;
	line-height: 2em;
}

.exp-photos-grid img {
	width: 100%;
	object-fit: cover;
}

.exp-photos-grid {
	width: 70%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto;
	gap: 5px;
	margin: 50px auto 50px auto;
}

.exp5 {
	height: 63%;
}

/* Video prod */

.video-prod {
	width: 70%;
	margin: 50px auto 50px auto;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 10px #66686a;
	padding: 50px;
}

.video-prod h2 {
	align-self: flex-end;
}

.video-prod p {
	text-align: center;
	line-height: 2em;
}

.video-prod img {
	width: 10%;
	padding: 0 10px 0 10px;
}

/* Sports section */

.sports-grid {
	width: 70%;
	margin: 50px auto 50px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row: 2fr 1fr;
	gap: 5px;
}

.photo-span {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}

.sports-grid img {
	width: 100%;
}

/* article */

.small-article {
	width: 70%;
	margin: 50px auto 50px auto;
	line-height: 2em;
}

/* landscape section */

.landscapes h2 {
	text-align: end;
}

.landscapes-section img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.landscapes {
	width: 70%;
	margin: 50px auto 50px auto;
}

.landscapes-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 10px;
	background-color: #000814;
	padding: 20px;
	box-shadow: 1px 1px 10px #66686a;
}
.land1 {
	grid-column: 1 / 3;
}

.content-landscapes {
	display: flex;
	flex-direction: column;
}

.content-landscapes p {
	line-height: 1.5em;
	text-align: center;
}

.content-landscapes h3 {
	text-align: center;
	color: #fff;
	padding-top: 50px;
}

/* portofolio page */

.sport-gallery {
	display: grid;
	grid-template-columns: repeat(4, minmax(10px, 1fr));
	grid-template-rows: repeat(2, minmax(10px, 1fr));
	width: 70%;
	margin: 50px auto 50px auto;
	gap: 10px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 10px #66686a;
}

.sport-gallery img {
	width: 100%;
}
#sport1 {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	height: 100%;
	object-fit: cover;
}

#sport2 {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	height: 100%;
	object-fit: cover;
}

#sport3 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	height: 100%;
	object-fit: cover;
}

#sport4 {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	height: 100%;
	object-fit: cover;
}

.landscape-gallery {
	display: grid;
	grid-template-columns: repeat(4, minmax(10px, 3fr));
	grid-template-rows: repeat(2, minmax(10px, 1fr));
	width: 70%;
	margin: 50px auto 50px auto;
	gap: 10px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 10px #66686a;
}

#scape1 {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	height: 100%;
	object-fit: cover;
}

#scape2 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	height: 100%;
	object-fit: cover;
}

#scape3 {
	grid-column: 3 / 5;
	grid-row: -3 / -2;
}

#scape4 {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	height: 100%;
	object-fit: cover;
}
#scape5 {
	grid-column: 1 / 5;
	grid-row: 3 / 4;
}

#scape6 {
	height: 100%;
	object-fit: cover;
}

.landscape-gallery img {
	width: 100%;
}

.experimental-gallery {
	display: grid;
	grid-template-columns: repeat(4, minmax(10px, 3fr));
	grid-template-rows: repeat(2, minmax(10px, 1fr));
	width: 70%;
	margin: 50px auto 50px auto;
	gap: 10px;
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 10px #66686a;
}

#Exp1 {
	height: 100%;
	object-fit: cover;
}

#Exp2 {
	height: 100%;
	object-fit: cover;
}

#Exp3 {
	grid-column: 3 / 5;
	grid-row: -3 / -2;
	height: 100%;
	object-fit: cover;
}

#Exp4 {
	height: 100%;
	object-fit: cover;
}

#Exp5 {
	height: 100%;
	object-fit: cover;
}

#Exp7 {
	grid-column: 2 / 4;
	grid-row: 2 / 3;
	height: 100%;
	object-fit: cover;
}

.experimental-gallery img {
	width: 100%;
}

#lightbox {
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}

#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

#lightbox img {
	width: auto;
	height: auto;
	opacity: 1;
	border: 2px solid #fff;
}

.lightbox {
	cursor: pointer;
}

/* contact page */

.contact {
	width: 70%;
	text-align: center;
	margin: 50px auto 50px auto;
}

.container img {
	width: 100%;
}

.container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: none;
	margin-top: 150px;
}

.container .card {
	position: relative;
	max-width: 300px;
	height: 215px;
	background: #fff;
	margin: 30px 10px;
	padding: 0 15px 0 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 10px #66686a;
	transition: 0.3s ease-in-out;
}

.container .card:hover {
	height: 420px;
}

.container .card .imgCard {
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	z-index: 1;
	box-shadow: 1px 1px 10px #66686a;
}
.container .card .imgCard img {
	max-width: 100%;
	border-radius: 4px;
}

.container .card .content {
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.container .card:hover .content {
	visibility: visible;
	opacity: 1;
	margin-top: 1px;
	transition-delay: 0.3s;
}

/* footer */

footer {
	margin-top: 150px;
	box-shadow: 1px 1px 10px #66686a;
}

.social img {
	width: 40px;
	margin: 5px;
}

.social {
	text-align: start;
	margin-left: 30px;
	padding-top: 40px;
	border-right: 2px solid #66686a;
}

.grid-footer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 260px;
	background-color: #000814;
}

.grid-footer h3,
label {
	color: #a5a7aa;
}

.newsletter {
	text-align: center;
	padding-top: 30px;
}

form label,
input {
	margin: 5px;
}

form button {
	margin-left: 38px;
}

.resultActive {
	font-size: 20px;
	color: #b6a208 !important;
	transition: 1s ease-in-out;
}

form button {
	background-color: #76c893;
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	color: #fff;
	margin-top: 5px;
}

form button:hover {
	background-color: #229e4f;
}

@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		display: flex;
		flex-direction: column;
	}

	.toggle-button {
		display: flex;
	}

	.pages {
		display: none;
		width: 100%;
	}

	.pages ul {
		width: 100%;
		flex-direction: column;
	}

	.pages ul li {
		text-align: center;
		margin-bottom: 10px;
	}

	.pages ul li a {
		padding: 0.5rem 1rem;
	}

	.pages.active {
		display: flex;
	}

	.welcome-section {
		flex-direction: column;
		align-items: center;
	}

	.welcome-section img {
		width: 60%;
		height: 60%;
		margin-top: 20px;
	}

	.welcome-section p {
		line-height: normal;
	}

	.welcome-section h1 {
		font-size: 28px;
	}

	.content-fashion p {
		line-height: normal;
		font-size: 14px;
	}

	.content-fashion h2 {
		font-size: 18px;
	}

	.experimental-photos {
		text-align: center;
	}

	.experimental-photos p {
		line-height: 1.5em;
		text-align: center;
	}

	.experimental-photos h2 {
		text-align: center;
	}

	.video-prod h2,
	p {
		text-align: center;
	}

	.video-prod img {
		width: 15vw;
	}

	.land2 {
		height: 100%;
		object-fit: cover;
	}

	.grid-footer {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.icons {
		text-align: center;
	}

	.newsletter {
		padding-bottom: 80px;
	}

	.social {
		border-right: none;
		border-bottom: 2px solid #66686a;
		margin-left: 0;
	}

	.flexP {
		display: flex;
		flex-direction: column;
	}

	.sport-gallery,
	.landscape-gallery,
	.experimental-gallery {
		display: flex;
		flex-direction: column;
	}

	#lightbox img {
		width: 80vw;
		height: auto;
	}

	.container {
		grid-template-columns: repeat(1, auto);
		grid-template-rows: repeat(3, auto);
		gap: 80px;
		justify-content: center;
	}
}
